<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                        ">

    <!--<context:property-placeholder location="classpath:log4j.properties"/>-->

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:log4j.properties</value>
            </list>
        </property>
    </bean>

    <!-- 自动扫描包-->
    <context:component-scan base-package="com.wei"/>

    <!-- 方法校验处理器 -->
    <!--<bean id="validation" class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>-->

    <mvc:default-servlet-handler/>

    <bean id="testDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="initialSize" value="4"/>
        <property name="maxActive" value="300"/>
        <property name="maxIdle" value="60"/>
        <property name="maxWait" value="10000"/>
        <property name="maxOpenPreparedStatements" value="300"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="testDataSource"/>
        <property name="mapperLocations" value="classpath*:com/wei/model/*/mapper/*.xml"/>

        <!-- mybatis 分页插件-->
        <!--<property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor" p:properties="dialect=mysql"/>
            </array>
        </property>-->
    </bean>

    <!-- 自动注册mybatis mapper bean -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.wei.model"></property>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

    <!--<mvc:view-controller path="/admin" view-name="forward:/admin/index"/>-->

    <!-- static resources mapping -->
    <!-- <mvc:resources location="/WEB-INF/assets/" mapping="/assets/**" /> -->
    <!--<mvc:resources location="/assets/" mapping="/assets/**" />  &lt;!&ndash; assets在webapp目录下&ndash;&gt;-->

    <!-- 如何请求到html页面 -->
    <!-- <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        使用UrlBasedViewResolver的时候必须指定属性viewClass，表示解析成哪种视图，一般使用较多的就是InternalResourceView，利用它来展现jsp，但是当我们使用JSTL的时候我们必须使用JstlView
       <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
       <property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceViewResolver"></property>
       配置jsp路径前缀
       <property name="prefix" value="/WEB-INF/pages/"></property>
       配置URl后缀
       <property name="suffix" value=".jsp"></property>
   </bean> -->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="-1" />
    </bean>


</beans>