<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd
                        http://www.springframework.org/schema/aop
            			http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
            			http://www.springframework.org/schema/tx
        				http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

    <!-- 自动扫描包-->
    <context:component-scan base-package="com.wei"/>

    <bean id="objectMapper" class="com.wei.util.CustomObjectMapper" init-method="init">
        <property name="camelCaseToLowerCaseWithUnderscores" value="true"/>
        <property name="dateFormatPattern" value="yyyy-MM-dd HH:mm:ss"/>
    </bean>

    <!-- 支持mvc注解驱动-->
    <mvc:annotation-driven>
        <!-- JSON序列化-->
        <mvc:message-converters>
            <!--对 Jackson 的序列化行为进行定制:排除值为空属性、进行缩进输出、将驼峰转为下划线、进行日期格式化 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 指定所上传文件的总大小,单位字节。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <!--<property name="maxUploadSize" value="1124000"/>-->
    </bean>
</beans>